.search-bar-container {
  width: 90%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-input {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.clear-cache-button {
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  border: none;
  background-color: #BB2D3B;
  cursor: pointer;
}

.clear-cache-button:hover {
  background-color: #7C1F29;
}
